<div class="card-content">
  <div class="card-img">
    <img src="https://www.turismopasto.gov.co/images/2018/09/05/nario.jpg" alt="" />
    <span><h4>{{position}}</h4></span>
  </div>
  <div class="card-desc">
    <h3>{{destino.n}}</h3>
    <h5>Servicios</h5>
    <ul>
      <li *ngFor="let servicio of destino.servicios">
        <span [ngSwitch]="servicio">
          <i *ngSwitchCase="'Desayuno'" style="color: red;">{{servicio}}</i>
          <i *ngSwitchDefault>{{servicio}}</i>
        </span>
      </li>
    </ul>
    <a href="#" class="btn-card" (click)="ir()">Ir!</a>
    <span *ngIf= "destino.isSelcted()">
      <span ngNonBindable>
        {{Preferido}} <i class="fa fa-star" aria-hidden="true"></i>
      </span>
    </span>
    <a [routerLink]="['/destino']">Ver detalle</a>
  </div>
</div>
